extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let gameid = toShow._id 
    - let game_name = toShow.game_name
    - let version = toShow.version
    - let price = toShow.price
    - let actionid = "/resource/game/" + gameid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='gameAttr mr-3') game ID is: 
        div #{gameid}
      div.row 
        div(class='gameAttr mr-3') game game_name is: 
        div #{game_name}   
      div.row 
        div(class='gameAttr mr-3') game version is: 
        div #{version} 
      div.row 
        div(class='gameAttr mr-3') game price is: 
        div #{price} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the game collection 
      window.location.href='/game' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'  
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/game' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 