extends layout

block content
  h1= title
  - var game = ['game_name','version','price']
  script.
    function buy(index)
        {
            alert(`You played game ${index+1}`)
        }
  - var game = results
  div(class='container-fluid')
    div(class='row')
      each result,index in game
        div(class='col-sm-2' onclick =`buy(${index})`)
          p game_name: #{result.game_name}
          p version: #{result.version}
          p price: #{result.price}